In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [2]:
jan_data = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"
feb_data = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet"
df = pd.read_parquet(jan_data)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [3]:
#q1
print(len(df.columns))

19

In [4]:

df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime

df['duration'] = df['duration'].apply(lambda x: x.total_seconds() / 60)

In [5]:
#q2
print(round(df['duration'].std(),2))

42.59

In [6]:
#q3
filtered_df = df[(df['duration'] >= 1) & (df['duration'] <= 60)]

fraction_left = len(filtered_df) / len(df)

print("Fraction of records left after dropping outliers:", round(fraction_left,2)*100)

Fraction of records left after dropping outliers: 98.0

In [7]:
#q4
filtered_df[['PULocationID', 'DOLocationID']] = filtered_df[['PULocationID', 'DOLocationID']].astype(str)

# Apply one-hot encoding
one_hot_encoded_matrix = pd.get_dummies(filtered_df[['PULocationID', 'DOLocationID']])
print(one_hot_encoded_matrix.shape)

/tmp/ipykernel_23769/3422257450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[['PULocationID', 'DOLocationID']] = filtered_df[['PULocationID', 'DOLocationID']].astype(str)

(3009173, 515)

In [ ]:
X, y = one_hot_encoded_matrix, filtered_df['duration']

model = LinearRegression()
model.fit(X, y)

y_pred = model.predict(X)

rmse_train = np.sqrt(mean_squared_error(y, y_pred))

print("RMSE on training data:", rmse_train)